:host {
    height: 100vh;
}

.header-item {
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    border-bottom: 2px solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-top: 1px solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.container {
    height: 88vh;
}