.svmx-footer_inline {
    text-align: center;
}

.svmx-footer_sticky {
    display: flex;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    bottom: 0;
    padding: var(--lwc-spacingXSmall, 0.5rem) var(--lwc-spacingSmall, 0.75rem);
    background: var(--lwc-colorBackground, rgb(243, 242, 242));
    box-shadow: var(--lwc-shadowDropDown, 0 -2px 2px 0 rgba(0, 0, 0, 0.16));
    z-index: 3;
}

.flex-align_left {
    justify-content: flex-start;
}

.flex-align_center {
    justify-content: center;
}

.flex-align_right {
    justify-content: flex-end;
}

.svmx-popover-margin-right-small {
    margin-right: 5em;
}

.svmx-popover-margin-right-medium {
    margin-right: 12em;
}

.svmx-expression_tooltip {
    position: absolute;
    left: 80%;
    min-width: 13rem;
    bottom: 40px;
  }