.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.svmx-is-view {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.slds-form__item {
    padding-left: var(--lwc-spacingSmall,0.75rem);
    padding-right: var(--lwc-spacingSmall,0.75rem);
}

.slds-form-element__static {
    width: auto;
}

.rule-accordion-section {
    display: inherit;
}

.svmx-checkbox-edit {
    margin-bottom: 0px !important;
}

.svmx-editbutton-icon {
    float: right;
}