.svmx-entitled-services-list-view_text-search .slds-input {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.svmx-entitled-service-detail_contract-line .nestedModalMedium {
    left: -30%;
    width: 160%;
}